h1.title {
  font-size: 54px;
  font-weight: 600;
}
.title {
  &_gradient-pink {
    background: linear-gradient(to right, #ffffff, #ff799f, #0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}